*
Free to use CSS template by Katie (#106445).
This code may be altered, edited, or re-uploaded. 
This template may be used to create paid codes (pre-mades and commissions).
Please do NOT remove this credit, unless your coding becomes unrecognizable from this one! 
*/

/* FONT (God of War) */
@import url('FONT URL');

/* BACKGROUND */
body {
    background: url('https://i.pinimg.com/736x/8b/b7/c7/8bb7c71a2abac8bdb19d51c247d19d8d.jpg') center center fixed;
    background-size: cover;
    font-family: 'God of War';
    color: #2e2a2b;
}

/* MAIN PANEL */
.container.main {
    background: rgba(255, 255, 255, 0.6); /* snowy light panel */
    border: none;
    box-shadow: none;
    border-radius: 0px;
}

/* LEFT SIDE */
.col-md-9 {
    background: none;
    border-right: none;
}

/* TOPBAR */
.topbar {
    background: rgba(255, 255, 255, 0.6);
    border: none;
    color: #000000;
    border-radius: 0px;
}

/* NAVBAR */
.navbar {
    background: rgba(255, 255, 255, 0.6);
    border-bottom: none;
    color: #000000;
    border-radius: 0px;
}
.navbar li a {
    color: #000000 !important;
}
.navbar li a:hover {
    background: rgba(255, 255, 255, 0.6) !important;
    color: #000000 !important;
    border-radius: 0px;
}

/* BREADCRUMB */
.breadcrumb {
    background: rgba(255, 255, 255, 0.6) !important;
    border: none;
    border-radius: 0px;
}
.breadcrumb .active {
    color: #000000;
}
.breadcrumb::after {
    content: "Template by Katie (#106445) Coded by Matchbox (243004)";
    color: #000000;
    position: absolute;
    right: 13%;
    z-index: 100;
}

/* BOXES */
.smallbox, .mediumbox, .largebox,
.smallhoverbox, .mediumhoverbox, .largehoverbox {
    background: rgba(255, 255, 255, 0.6);
    color: #000000;
}

/* CHAT */
.s-chat-message:nth-child(even),
.s-chat-message:nth-child(odd),
.s-chat-message__pinned {
    background: rgba(255, 255, 255, 0.7) !important; /* readable on snowy theme */
    color: #000000 !important;
    border: none !important;
}
.s-chat-message_timestamp {
    color: #000000 !important;
}

/* CAVE AND MOUND BACKGROUNDS */
.mound-grid img {
    background: url('https://i.pinimg.com/736x/97/f8/90/97f8908e2a22552e9adffb5c8aa9b0c7.jpg');
    width: 0;
    height: 0;
    padding-top: 80px;
    padding-right: 130px;
}

div.cave-grid>img {
    content: url('https://i.pinimg.com/736x/a7/04/b9/a704b914a8ed493798eb215f557f478a.jpg') !important;
}

/* UNSORTED, PREGNANT LIONESSES, PRIDE OVERVIEW */
a[href$="unsorted.php?id=PLAYER ID"]>div.cave-grid>img,
a[href$="lionoverview.php?id=PLAYER ID"]>div.cave-grid>img,
div.cave-grid>img /* Pregnant Lionesses */ {
    background: #d3d3d3; /* neutral grey */
}

/* CIRCULAR LION AND USER AVATAR */
div#lion_image, table#player img {
    border-radius: 50% !important;
    overflow: hidden;
}

/* KEEP ALL OTHER ORIGINAL CODE INTACT */
