/*
Free to use CSS template by Katie (#106445).
This code may be altered, edited, or re-uploaded. 
This template may be used to create paid codes (pre-mades and commissions).
Please do NOT remove this credit, unless your coding becomes unrecognizable from this one! 
*/

/* FONT (God of War) */
@import url('FONT URL');

/* BACKGROUND */
body {
    background: url('https://i.pinimg.com/736x/8b/b7/c7/8bb7c71a2abac8bdb19d51c247d19d8d.jpg') center center fixed;
    background-size: cover;
    font-family: 'God of War';
    color: #2e2a2b;
}

/* MAIN PANEL */
.container.main {
    background: rgba(255, 255, 255, 0.6); /* snowy light panel */
    border: none;
    box-shadow: none;
    border-radius: 0px;
}

/* LEFT SIDE */
.col-md-9 {
    background: none;
    border-right: none;
}

/* TOPBAR */
.topbar {
    background: rgba(255, 255, 255, 0.6);
    border: none;
    color: #000000;
    border-radius: 0px;
}

/* NAVBAR */
.navbar {
    background: rgba(255, 255, 255, 0.6);
    border-bottom: none;
    color: #000000;
    border-radius: 0px;
}
.navbar li a {
    color: #000000 !important;
}
.navbar li a:hover {
    background: rgba(255, 255, 255, 0.6) !important;
    color: #000000 !important;
    border-radius: 0px;
}

/* BREADCRUMB */
.breadcrumb {
    background: rgba(255, 255, 255, 0.6) !important;
    border: none;
    border-radius: 0px;
}
.breadcrumb .active {
    color: #000000;
}
.breadcrumb::after {
    content: "Template by Katie (#106445) Coded by Matchbox (243004)";
    color: #000000;
    position: absolute;
    right: 13%;
    z-index: 100;
}

/* BUTTONS */
input.floatright, input.floatright:hover,
button.button, button.button:hover,
div.slider.round, div.slider.round::before {
    background: rgba(255, 255, 255, 0.6) !important;
    color: #000000 !important;
    border: none !important;
    border-radius: 0px !important;
    text-shadow: none !important;
}

/* ALERTS */
.alert, .alert-warning, .alert-danger {
    background: rgba(255, 255, 255, 0.6) !important;
    border: none;
    color: #000000;
    border-radius: 0px !important;
}

/* HEADERS */
h1, h2, h3, .sidebar h3 {
    font-family: 'God of War';
    color: #000000;
}
h1 { font-size: 90px; text-align: center; }
h2 { font-size: 24px; text-align: center; }
h3 { font-size: 14px !important; }
.sidebar h3 { font-size: 26px !important; }

/* RIGHT SIDE PANELS */
.panel {
    background: rgba(255, 255, 255, 0.6) !important;
    box-shadow: none !important;
    border: none !important;
    color: #000000 !important;
    border-radius: 0px;
}

/* ENERGY BARS */
.progress, .progress-bar {
    background: rgba(255, 255, 255, 0.6);
    color: #000000 !important;
    border-radius: 0px !important;
}
.progress div {
    color: #000000 !important;
}

/* CHAT */
.s-chat-message:nth-child(even),
.s-chat-message:nth-child(odd),
.s-chat-message__pinned {
    background: rgba(255, 255, 255, 0.7) !important;
    color: #000000 !important;
    border: none !important;
}
.s-chat-message_timestamp { color: #000000 !important; }
div#chatMessageContainer, button#label_currentChannel {
    border: none !important;
    background: rgba(255, 255, 255, 0.6) !important;
    color: #000000 !important;
}

/* TABLES */
.table, .top, .bottom, th, .inner-table .left {
    background: rgba(255, 255, 255, 0.6) !important;
    color: #000000 !important;
    border-radius: 0px;
}
.inner-table .right, td.right, .right_odd {
    background: none !important;
    border-radius: 0px !important;
}

/* CAVE / MOUND */
.mound-grid img {
    background: url('https://i.pinimg.com/736x/97/f8/90/97f8908e2a22552e9adffb5c8aa9b0c7.jpg');
    width: 0;
    height: 0;
    padding-top: 80px;
    padding-right: 130px;
}
div.cave-grid>img {
    content: url('https://i.pinimg.com/736x/a7/04/b9/a704b914a8ed493798eb215f557f478a.jpg') !important;
}
/* Unsorted, Pregnant Lionesses, Pride Overview */
a[href$="unsorted.php?id=PLAYER ID"]>div.cave-grid>img,
a[href$="lionoverview.php?id=PLAYER ID"]>div.cave-grid>img,
div.cave-grid>img /* Pregnant Lionesses */ {
    background: #d3d3d3;
}

/* BOX CONTAINERS */
.boxcontainer {
    background: none;
    height: auto;
    padding: 0px;
    justify-content: center;
    display: flex;
}
.smallbox, .mediumbox, .largebox,
.smallhoverbox, .mediumhoverbox, .largehoverbox {
    background: rgba(255, 255, 255, 0.6);
    color: #000000;
    border-radius: 0px;
}

/* SCROLLBAR */
::-webkit-scrollbar { width: 10px; }
::-webkit-scrollbar-track { background: #ffffff; }
::-webkit-scrollbar-thumb { background: #000000; border-radius: 0px; }

/* CIRCULAR LION AND AVATAR */
div#lion_image, table#player img {
    border-radius: 50% !important;
    overflow: hidden;
}

/* LIODEN LOGO REPLACER */
div.container.main>div:nth-child(1)>nav>div.navbar-header>a>img {
    content: url('Lioden logo replacement');
}

/* KEEP ALL OTHER ORIGINAL FUNCTIONALITY INTACT */
